.new-form{
    margin-bottom: 30px;
}
.user_form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.user_form .form_control{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form_control input{
    height: 30px;
    text-indent: 5px;
    padding: 10px 0;
}
